body {
  margin: 0;
  font-family: Poppins, sans-serif;
  box-sizing: border-box;
  font-weight: bold;
  width: 100vw;
}


.header {
  color: white;
  background: rgb(95, 95, 255);
  text-align: center;
  padding: 1em;
  font-weight: lighter;
  box-shadow: 0px 6px 16px -6px rgba(0,0,0,0.75);
}

.registration-form {
  display: block;
  text-align: left;
  box-shadow: 0px 6px 16px -6px rgba(0,0,0,0.35);
  margin: 50px;
  padding: 20px;
}

.text-field {
  display: block;
  margin: auto;
  width: 350px;
  padding: 5px;
  border: 2px solid rgb(85, 190, 255);
  border-radius: 4px;
  margin: 10px auto 10px auto;
}

.radio-label,
.checkbox-label {
  display: block;
 text-align: left;
}

label {
  text-align: center;
  display: block;
}

.section {
  text-align: left;
  border-top: 1px solid lightgrey;
  padding-top: 30px;
}

.section > label {
  text-align: left;

}


select {
}

textarea {
  width: calc(100% - 40px);
  border-radius: 4px;
  height: 100px;
  border:none;
  background: rgb(238, 238, 238);
  margin: 20px;
}

.form-button {
  display: flex;
  margin: auto;
padding: 15px 20px;
background: white;
border: 2px solid rgb(85, 190, 255);
border-radius: 2px;

}

.form-button:hover {
  background: rgb(95, 95, 255);
  color: white;
  border: none;
}


.text-field:focus {
  border: 2px solid rgb(95, 95, 255);
  outline: none;
}

textarea:focus{
  border: 2px solid rgb(95, 95, 255);
  outline: none;
}